<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Add</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" id="id" formControlName="id" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" id="password" formControlName="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="role">Role</label>
                        <input type="text" id="role" formControlName="role" class="form-control">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
