<div class="row">
    <div class="col-xs-12">
        <h1>{{ user.username }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ user.id }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ user.username }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ user.email }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ user.password }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>{{ user.role }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a style="cursor: pointer;" (click)="onEditUser()">Edit User</a>
        <a style="cursor: pointer;" (click)="onDeleteUser()">Delete User</a>
        </div>
    </div>
